body{
    background-color: blue;
    color: #fff;
    background-image: url(https://www.shutterstock.com/image-photo/wideangle-view-calm-east-sea-260nw-2784116955.jpg);
    background-repeat: no-repeat;
    background-position: right top; 
    background-size: cover;
    


    

}